<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <ul>
        <li><a href = "{% url 'home' %}">Home</a></li>
        {% for i in catergory_list %}
        <li><a href = "{% url 'posts' id=i.id %}">{{ i.name }}</a></li>
        {% endfor %}
        <li><a href = "{% url 'about' %}">About</a></li>
    </ul>
    <div class="dropdown" style="float:right;">
        <button class="dropbtn">{{ request.user }}</button>
        <div class="dropdown-content" style="left:0;">
        <a href="{% url 'create-post' %}">New article</a>
        <a href="{% url 'my-posts' %}">My articles</a>
        <a href="{% url 'logout' %}">Log out</a>
        </div>
      </div>
    <h1 class="ml-1">Articles</h1>

    {% if cnt == 0 %}
    <h4>No articles.</h4>
    {% endif %}
    {% for i in myposts %}
    <div class="ml-1">
        <hr>
        <h4>{{i.title}} - {{ i.get_created_date }} {{ i.category }}</h4>
        <p>{{ i.get_text }} 
            <a href="{% url 'post' id=i.id %}">Read more...</a>
            <span class="author">{{ i.author }}</span>
        </p> 
        <img src="{{ i.image.url }}" alt="" width="400" height="300"/>
    <div>
    {% endfor %}